<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<div class="container">
	<div ng-controller="customersController">
		<h2>Add a new customer</h2>
		<!-- <h5 style="color: red;" class="error hide">User already exists</h5> -->
		<div class="form-group">
			<label>Customer Name:</label>
			<input type="text" ng-model="newCustomer.name">
			<input ng-click="addCustomers()" type="submit" class="btn btn-primary" value="Add">
		</div>

		<table class="table table-bordered table-striped table-hovered">
			<input type="text" ng-model="name_filter" placeholder="Search customers..." class="pull-right">
			<thead>
				<tr>
					<th>Customer Name</th>
					<th>Created Date</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="customer in customers | filter: name_filter | orderBy: 'customer.created'">
					<td>{{customer.name}}</span></td>
					<td>{{customer.created | date:'MMMM d yyyy'}}</td>
					<td><button ng-click="deleteCustomers(customer)" class="btn btn-danger">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
