<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<div ng-controller="ordersController">
		<h2>Add a new order</h2>
			<div class="form-group">
			Product Name: <input type="text" ng-model="newOrder.item">
			Quantity:<input type="number" ng-model="newOrder.quantity">
			Customer: <select name="name" id="" ng-model="newOrder.customer">
				<option ng-repeat="customer in customers">{{ customer.name }}</option>
			</select>
			<input ng-click="addOrders()" type="submit" class="btn btn-primary" value="Add">
			</div>

		<table class="table table-bordered table-striped table-hovered">
			<input type="text" ng-model="name_filter" placeholder="Search orders..." class="pull-right">
			<thead>
				<tr>
					<th>Product Name</th>
					<th>Customer Name</th>
					<th>Quantity</th>
					<th>Created Date</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in orders | filter: name_filter | orderBy: 'order.created'">
					<td>{{order.item}}</td>
					<td>{{order.customer}}</td>
					<td>{{order.quantity}}</td>
					<td>{{order.created | date:'MMMM d yyyy'}}</td>
					<td><button ng-click="deleteOrders(order)" class="btn btn-danger">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
